/* LAYOUT */

body {
  background-color: #99ff99;
  color: #000000;
  font-family: 'Helvetica', Arial, sans-serif;
  line-height: 1.3;
  max-width: 90ch;
  padding: 10px;
  font-size: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 28pt;
}

footer {
  font-size: 0.85rem;
  padding: 1rem;
  flex-shrink: 0;
  text-align: center;
}

.content {
  margin-bottom: 2rem;
  flex: 1 0 auto;
}

#nextprev {
  display: flex;
  justify-content: space-between;
}

figure {
  margin: 2rem auto 1rem;
  text-align: center;
}

figure img {
  max-width: 100%;
}

figcaption {
  color: var(--color-subtext);
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

/* NAVIGATION */
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.site-nav a {
  display: block;
  padding: 1rem;
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
  text-decoration: none;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 1px;
    padding-left: 0;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  font-size: 14px;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}

